TCP_SERVER_HOST=0.0.0.0
TCP_SERVER_PORT=12345

DEFAULT_FFT_SAMPLERATE=20
DEFAULT_ANIMATION_FRAMERATE=60

FFT_EMMA_DEFAULT=0.5

MQTT_BROKER_HOST=127.0.0.1
MQTT_BROKER_PORT=1883
MQTT_ANNOUNCEMENT_TOPIC=acme/devices/lighting